<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class='row'>
  <div class='span6'>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div>Email<br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div>Current Password<i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>

      <div>Nickname (Please don't enter your real name.)<br />
      <%= f.text_field :nickname %></div>

      <div>Gender (Please put 'Male' or 'Female')<br />
      <%= f.text_field :gender %></div>

      <div>Occupation<br />
      <%= f.text_field :occupation %></div>

      <div>Description (This is what users will see, put a short description that you want the user to know about you. Don't include any personal information.)<br />
      <%= f.text_area :description, :size => "30x15" %></div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.check_box :enable_notdisturb %>
      <span>Check this box if you don't want to receive messages during sometime of the day.<br /></span>
      <div>
        From
        <%= select_tag "notdisturb_from", options_for_select(["00:00", "1:00", "2:00", "3:00", "4:00", "5:00", "6:00", "7:00", "8:00", "9:00", "10:00", "11:00"], @notdisturb[0]),:style => "width:70px;"%>
        <%= select_tag "from_ampm", options_for_select(["am", "pm"], @notdisturb[1]), :style => "width:70px;"%>
        To
        <%= select_tag "notdisturb_to", options_for_select(["00:00", "1:00", "2:00", "3:00", "4:00", "5:00", "6:00", "7:00", "8:00", "9:00", "10:00", "11:00"], @notdisturb[2]),:style => "width:70px;"%>
        <%= select_tag "to_ampm", options_for_select(["am", "pm"], @notdisturb[3]), :style => "width:70px;"%>
      (PST UTC-8)
      </div>

      <h3>Change Password</h3>
      <div>Password <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div>Password Confirmation<br />
      <%= f.password_field :password_confirmation %></div>
      <div><%= f.submit "Update" %></div>
    <% end %>

  </div>
</div>
